<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--设置反转，将实现类new的权利交给spring-->
    <bean id="userService" class="com.imooc.ioc.demo1.UserServiceImpl">
        <!--设置属性 依赖注入 -->
        <property name="name" value="李四"></property>
    </bean>
    <bean id="food" class="com.imooc.ioc.demo1.Food">
        <!--设置属性 依赖注入 -->
        <property name="name" value="香蕉"></property>
        <property name="kind" value="水果"></property>
        <property name="taste" value="甜甜的"></property>
    </bean>
    <!--bean的实例化的三种方式 -->
    <!--1.无参构造器的方式-->
    <bean id="bean1" class="com.imooc.ioc.demo2.Bean1"></bean>
    <!--2.静态工厂的方式-->
    <bean id="bean2" class="com.imooc.ioc.demo2.Bean2Factory" factory-method="createBean2"></bean>
</beans>
