*{
    margin: 0px;
    padding: 0px;
    font-family: Microsoft YaHei UI;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    width: 100%;
    height: 80px;
    background-color:#07cbc9;
    position: sticky;
    top: 0px;
    z-index: 100;
}
.header .logo{
    float: left;
    margin-left: 80px;
}
.header .logo img{
    width: 260px;
    height: 48px;
    margin-top: 16px;
}
.header .menu{
    float: right;
    margin-right: 70px;
}
.header .menu ul li{
    list-style: none;
    float: left;
    margin-right: 10px;
    line-height: 80px;
    height: 80px;
    padding: 0px 5px;
}

.content{
    width: 100%;
}
.content .banner
{
    background-image:url("../images/banner3.jpg");
    width: 100%;
    height: 800px;
}
.content .banner ul{
    float: left;
    list-style: none;
    margin:100px 35%;
    text-align: center;
}

.content .banner ul li{
    margin: 20px;
}
.content .banner ul li input{
     height: 40px;
     font-size: 20px;
     width: 400px;
     padding-left: 10px;
     border: 2px solid whitesmoke;
     background-color:black;
     color: white;
     opacity: 0.4;
}

.content .banner ul li .comment{
    height: 120px;
    line-height: 40px;
}
.content .banner ul li .send-btn{
    width: 200px;
}
.content .about {
    margin-bottom: 20px;
}
.content .about .about-info{
    text-align: center;
    margin: 20px 20%;
    top: 30px;
    position: relative;
}
.content .about .about-info>div{
    border: 1px solid #07cbc9;
    width: 6%;
    margin:20px 47%;
}
.content .about .about-us{
    margin: 40px 20px;
    width: 25%;
    float: left;
    position:relative;
    left:100px;
}
.content .about .about-us .about-us-2{
    padding: 30px 30px;
    border: 1px solid;
    height: 190px;
    background-color: rgba(255,255,255,0.4);
}
.content .about .about-us h2{
    text-align: center;
}
.content .about .about-us .about-us-2 input{
    background-color: black;
    color: white;
    width: 96px;
    height: 45px;
    vertical-align:middle;
    border: none;
    margin-top: 20px;
}
.content .about .bb3-img{
    float: left;
    width: 650px;
    height:435px;
    margin: 40px auto;
}
.content .about .about-count{
    margin-top: 40px;
    margin-left: 20px;
    float: left;
    text-align: center;
    width: 10%;
    height: 120px;
}

.content .about .about-count>div{
    border: 2px solid #07cbc9;
    height: 100px;
    padding:30px 20px;
    margin-bottom: 20px;
}
.content .about .about-count h2{
    height: 50px;
    line-height: 50px;
}
.content .about .about-count h3{
    height: 50px;
    line-height: 50px;
}
.content .about .about-count>div>div{
    border: 1px solid #07cbc9;
    margin-left: 5%;
}
.content .about .b1-b4-img ul li{
    width: 25%;
    float: left;
    height: 396px;
    list-style: none;
    background-color: #07cbc9;
    overflow: hidden;
    color: #ffffff;
}
.content .about .b1-b4-img ul li h2{
    padding: 10px 20px;
}
.content .about .b1-b4-img ul li h4{
    padding: 10px 20px;
}
.content .about .b1-b4-img ul li p{
    padding: 10px 20px;
}
.content .about .b1-b4-img ul li input{
    margin: 50px 100px;
    background-color: black;
    color: white;
    width: 96px;
    height: 45px;
    vertical-align:middle;
    border: none;
}


.content .gallery{
    margin-top: 800px;
    margin-left: 6%;


}
.content .gallery .gallery-info{
    text-align: center;
    margin: 20px 25%;
}
.content .gallery .gallery-info>div{
    border: 1px solid #07cbc9;
    width: 6%;
    margin:20px 47%;
}
.content .gallery .gallery-img ul li{
    padding: 0px;
    background-color: black;
    float: left;
    height: 300px;
    list-style: none;
    margin: 10px;
}
.content .gallery .gallery-img>ul>li h5{
    color: white;
    padding-left: 15px;
    line-height: 60px;
}
.footer{
    margin-top: 700px;
    width: 100%;
    height: 80px;
    background-color: #07cbc9;
    color: white;
    text-align: center;
    line-height: 80px;
}
.header .menu ul li:hover{
    background-color: black;
}

.content .banner ul li input[type="text"]:hover{
    border:2px solid #07cbc9;
}
.content .banner ul li input[type="button"]:hover{
    background-color:#07cbc9;
    border: none;
}
.content .about .about-us  input[type="button"]:hover{
    opacity: 0.4;
}
.content .about .b1-b4-img input[type="button"]:hover{
    opacity: 0.4;
}