*{
    margin: 0px;
    padding: 0px;
}
.header{
    /*上右下左
        margin: 25px auto 0 50px;
    */
    /*上下25，左右自动*/
    margin: 25px auto;

    width: 1200px;
}


.header .logo{
    /*浮动*/
    float: left;
    /*相对定位方式，和浮动一起使用*/
    position: relative;
}
.header .menu{
     /*内容分类浮动，相对定位*/
     float: left;
     position: relative;
     margin-top:12px;
     margin-left: 12px;
 }

.header .menu ul{
    /*ul默认不展示*/
    display: none;
    /*去掉列表左侧项目编号*/
    list-style: none;
    position: absolute;
    width: 80px;
    opacity: 0.5;
    background-color: white;
}
.header .menu ul li{
   margin-top: 15px;
    text-align: center;
    width: 80px;
}

.header .menu .menu_title{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 80px;
    text-align: center;

}
a{
    text-decoration: none;
}
.header .auth{
    float: right;
}

.header .auth ul li{
    float: left;
    margin-right: 20px;
    margin-top: 12px;
    list-style: none;
}
.content{
    width: 1200px;
    margin: 25px auto;
}

.content .banner .banner-img{
    margin-top: 15px;
}
.content .img-content{
    width: 1280px;
}
.content .img-content ul li{
    width: 360px;
    float: left;
    margin: 30px 60px 30px 0;
    list-style: none;
    height: 500px;
    background-color: white;
    box-shadow:0 0 3px 3px #ccc;
}
body{
    background-color:#F5F5F5;
}
.img-content>ul>li .info h3{
    font-size: 25px;
    color: red;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-content>ul>li .info p{
   line-height: 25px;
    margin-bottom: 20px;
}
.info{
    margin-left: 30px;
    margin-right: 30px;
}
.img-content>ul>li .price{
    color: red;
    font-size: 20px;
    float: left;
}
.content .img-content .info .img-btn{
    width: 300px;
}
.img-content .info .img-btn .btn{
    width: 60px;
    height: 30px;
    background-color: red;
    text-align: center;
    border-radius: 5px;
    float:right;
}

.img-content .info .img-btn .cart img{
    width: 25px;
    height: 20px;
    margin-top: 5px;
}/*
.img-btn .price{
    float: left;
}*/