*{
    margin: 0px;
    padding: 0px;
}
.header{
    /*上右下左
        margin: 25px auto 0 50px;
    */
    /*上下25，左右自动*/
    margin: 25px auto;

    width: 1200px;
}


.header .logo{
    /*浮动*/
    float: left;
    /*相对定位方式，和浮动一起使用*/
    position: relative;
}
.header .menu{
     /*内容分类浮动，相对定位*/
     float: left;
     position: relative;
     margin-top:12px;
     margin-left: 12px;
 }

.header .menu ul{
    /*ul默认不展示*/
    display: none;
    /*去掉列表左侧项目编号*/
    list-style: none;
    position: absolute;
    width: 80px;
    opacity: 0.5;
    background-color: white;
}
.header .menu ul li{
   margin-top: 15px;
    text-align: center;
    width: 80px;
}

.header .menu .menu_title{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 80px;
    text-align: center;

}
a{
    text-decoration: none;
}
.header .auth{
    float: right;
}

.header .auth ul li{
    float: left;
    margin-right: 20px;
    margin-top: 12px;
    list-style: none;
}
.content{
    width: 1200px;
    margin: 25px auto;
}

.content .banner .banner-img{
    margin-top: 15px;
}